


<div class="main">
    <div class="container">
       <% @kenkireis.each do |kenki_rei| %>

    <div class="text-index-item">
      <div class="text-item" id="<%= kenki_rei.令id %>">
      <%= kenki_rei.item %>

      </div>

      <div class="text-content">
        <%= kenki_rei.contents %>



      </div>

      </div>
      <% end %>

<div class="container-side">
  <% @likenkireis.each do |li_kenki_rei| %>
  <div class="text-index-item">
    <div class="text-item">
      <a> <%= li_kenki_rei.list %></a>
       <a> <%= li_kenki_rei.list2 %></a>
      </div>
    </div>
<% end %>
  </div>

  </div>
</div>
