


<div class="main">
<div class="container">
       <% @kenkihous.each do |kenki_hou| %>

    <div class="text-index-item">
      <div class="text-item">
      <li><%= kenki_hou.item %></li>
      <li><%= kenki_hou.item号 %></li>
      <li><%= kenki_hou.item2 %></li>
      </div>
      <div class="text-item2">
      </div>
      <div class="text-content">
        <%= kenki_hou.contents %>
      </div>
      <div class="text-link">
        <%= kenki_hou.基準 %>
      </div>
      </div>

        <% end %>
  </div>

<div class="container-side">
  <% @likenkihous.each do |li_kenkihou| %>
  <div class="text-index-item">
    <div class="text-item">
      <a> <%= li_kenkihou.list %></a>
       <a> <%= li_kenkihou.list2 %></a>
      </div>
    </div>
<% end %>
  </div>




</div>

</div>
